@model Cards.Domain.Entities.Card
<div class="row card-createform-container">
    <h1>Create Card</h1>
    <form class="cs-createCard" id="createCard">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" id="cardName" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" id="cardDescription" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Color" class="form-label">Color</label>
            <input asp-for="Color" type="color" class="form-control" id="cardColor" value="#00FF00" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary ladda-button my-button" data-style="expand-right">Submit</button>

    </form>
</div>

<script type="module" src="~/js/Home/CreateCard.js"></script>
