@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Dashboard";
}

<div id="cardContainer"></div>

<form id="cardDeleteForm">
    <input type="hidden" id="cardId" name="cardId" />
</form>

<script type="module" src="~/js/Home/Dashboard.js"></script>
<script type="module" src="~/js/Home/DeleteCard.js"></script>