@{
    ViewBag.Title = "Journal Vouchers";
}
<div class=row>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <span style="font-size: 16px">Journal Details - Journal Voucher No:</span>
                <span class=txtJvId></span>
                <div class="btn-group btn-group-xs pull-right">
                    <button type=button class="btn btn-primary" id=btnEntries>Journal Entries</button>
                    <button type=button class="btn btn-danger ladda-button" data-style=expand-right data-size=s id=btnunpostJournal>Unpost Selected Journal</button>
                </div>
            </div>
            <div class=panel-body>
                <div class=row>
                    <form method=post id=JournalVoucherForm>
                        <input id=JournalVoucherID hidden>
                        <div class=col-sm-4>
                            <div class=form-group>
                                <label>
                                    <small>Source Reference</small>
                                </label>
                                <textarea class="form-control input-sm" id=SourceReference required></textarea>
                            </div>
                            <div class=form-group>
                            <label>
                                <small>Transaction Date Time</small>
                            </label>
                            <input type=datetime-local step=1 class="form-control input-sm" id=TransactionDateTime required>
                            </div>
                        </div>
                        <div class=col-sm-4>
                            <div class=form-group>
                                <label>
                                    <small>Description</small>
                                </label>
                                <textarea class="form-control input-sm" id=Description required></textarea>
                            </div>
                                <div class=form-group>
                                <label>
                                    <small>Amount</small>
                                </label>
                                <input type=number class="form-control input-sm" id=Amount step=any disabled>
                            </div>
                        </div>
                        <div class=col-sm-4>
                            <div class=form-group >
                                <label>
                                    @*<small>Amount</small>*@
                                </label>
                                <input type=number class="form-control input-sm" step=any disabled>
                            </div>
                            <div class=row>
                                <div class=col-md-12>
                                    <table class="table-condensed table-borderless table-responsive compact">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>Status: </strong>
                                                <td>
                                                    <span class=text-info id=txtJvStatus></span>
                                            <tr>
                                                <td>
                                                    @* <strong>Posted By: </strong>*@
                                                <td>
                                                    @*<span class=text-info id=txtJvPostedBy></span>*@
                                    </table>
                                </div>
                            </div>
                            <div class=row>
                                <div class=col-md-12>
                                    <div id=updatejv hidden>
                                        <div class="btn-group pull-right">
                                            <button id=btnupdatejv class="btn btn-primary btn-xs ladda-button" data-style=expand-right data-size=s>Update</button>
                                            <a id=btnCreateNewJv class="btn btn-primary btn-xs">New</a>
                                        </div>
                                    </div>
                                    <div id=addjv>
                                        <button class="btn btn-primary btn-xs pull-right ladda-button" data-style=expand-right data-size=s id=btnSaveJournalVoucher>Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input name=__RequestVerificationToken type=hidden value=CfDJ8It5D1qqI4lBjCCzFnB6Cer77YCMxXmMGBoqjLDY3UIRDwKk3428zlDh6qHxdHRxzH1-_Z0Nh6gVqX4b3jNBtQklc34sjmhggaoX2LtRFTyvlA-ECkvMyVBCkCc6E9pC30yar-9Yc3f5C3XYDYlJhVji2_H3iA2DiPsu3eLpdmQndQu1jbQbjQb_RBoqpeBJgw>
                    </form>
                    <fieldset class=scheduler-border hidden>
                        <legend class=scheduler-border>
                            <small>Fiscal Period Details</small>
                        </legend>
                        <div class=row>
                            <div class=col-sm-8>
                                <div class=checkbox>
                                    <label class=checkbox>
                                        <input type=checkbox id=ChangePeriod>Change Period 
                                    </label>
                                </div>
                                <div class=form-group>
                                    <label>
                                        <small>Period ID</small>
                                    </label>
                                    <select class="form-control input-sm" id=FiscalPeriodID disabled required></select>
                                </div>
                                <div class=form-group>
                                    <label>
                                        <small>Beginning</small>
                                    </label>
                                    <input type=date class="form-control input-sm" id=OpenDate readonly>
                                </div>
                                <div class=form-group>
                                    <label>
                                        <small>Ending</small>
                                    </label>
                                    <input type=date class="form-control input-sm" id=CloseDate readonly>
                                </div>
                            </div>
                            <div class=col-sm-4>
                                <div class=checkbox>
                                    <label class=checkbox>
                                        <input type=checkbox id=IsActive>Is Active 
                                    </label>
                                </div>
                                <div class=checkbox>
                                    <label class=checkbox>
                                        <input type=checkbox id=IsOpen>Is Open 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class=panel-heading>
                <h6 class=panel-title>View: Journal Vouchers</h6>
            </div>
            <div class=table-responsive id=no-more-tables>
                <table class="col-md-12 table-striped table-condensed table-bordered cf compact" width=100% id=jvstable>
                    <thead class=cf>
                        <tr>
                            <th>
                                <strong>JV ID</strong>
                            <th>
                                <strong>Fiscal No</strong>
                            <th>
                                <strong>Transacted On</strong>
                            <th>
                                <strong>Source Ref</strong>
                            <th>
                                <strong>Description</strong>
                            <th>
                                <strong>Amount</strong>
                                <tbody>
                </table>
            </div>
            <div class=panel-footer>
                <div class=row>
                    <div class=col-md-9>
                        <form class=form-inline method=post id=FilterJvsForm>
                            <div class=form-group>
                                <label for=flag>
                                    <small>View</small>
                                </label>
                                <select class="form-control input-sm" id=flag>
                                    <option value=1>Manual - Not Posted</option>
                                    <option value=2>Manual - Posted</option>
                                    <option value=3>Automatic - Not Posted</option>
                                    <option value=4>Automatic - Posted</option>
                                    <option value=5>All</option>
                                </select>
                            </div>
                            <div class=form-group>
                                <label for=dateFrom>
                                    <small>Between</small>
                                </label>
                                <input type=date class="form-control input-sm" id=dateFrom>
                            </div>
                            <div class=form-group>
                                <label for=dateTo>
                                    <small>And</small>
                                </label>
                                <input type=date class="form-control input-sm" id=dateTo>
                            </div>
                            <button class="btn btn-info btn-xs">View</button>
                            <input name=__RequestVerificationToken type=hidden value=CfDJ8It5D1qqI4lBjCCzFnB6Cer77YCMxXmMGBoqjLDY3UIRDwKk3428zlDh6qHxdHRxzH1-_Z0Nh6gVqX4b3jNBtQklc34sjmhggaoX2LtRFTyvlA-ECkvMyVBCkCc6E9pC30yar-9Yc3f5C3XYDYlJhVji2_H3iA2DiPsu3eLpdmQndQu1jbQbjQb_RBoqpeBJgw>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

@await Html.PartialAsync("./PartialViews/_AccountEntries")

<script src="~/js/Shared/jquery-3.4.1.min.js"></script>
<script src="~/js/Accounts/JournalVouchers.js"></script>