@{
    ViewBag.Title = "Taxes";
}
<div class=row>
    <div class=col-md-6>
        <div class="panel panel-default">
            <div class=panel-heading>
                <h6 class=panel-title>VAT Type Details</h6>
            </div>
            <div class=panel-body>
                <form method=post id=VATTypeForm>
                    <input hidden type=number data-val=true data-val-required="The VATTypeID field is required." id=VATType_VATTypeID name=VATType.VATTypeID>
                    <div class=row>
                        <div class=col-sm-6>
                            <div class=form-group>
                                <label>
                                    <small>Name</small>
                                </label>
                                <input class="form-control input-sm" required data-val=true data-val-required="The Name field is required." id=VATType_Name name=VATType.Name>
                            </div>
                            <div class=form-group>
                                <label>
                                    <small>VAT Liability Sub-Account</small>
                                </label>
                                <select required class="form-control input-sm" data-val=true data-val-required="The VATLiabSubAccountID field is required." id=VATType_VATLiabSubAccountID name=VATType.VATLiabSubAccountID>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class=col-sm-6>
                            <div class=form-group>
                                <label>
                                    <small>Per Rate(%)</small>
                                </label>
                                <input type=number step=any class="form-control input-sm" required max=100 min=0 data-val=true data-val-number="The field PerRate must be a number." data-val-required="The PerRate field is required." id=VATType_PerRate name=VATType.PerRate>
                            </div>
                            <div id=updatevattype hidden>
                                <div class="btn-group pull-right">
                                    <button id=btnupdatevattype class="btn btn-primary btn-sm ladda-button" data-style=expand-right data-size=s>Update</button>
                                    <a id=btnCreateNewVATType class="btn btn-primary btn-sm">New</a>
                                </div>
                            </div>
                            <div id=addvattype>
                                <button id=btnaddvattype class="btn btn-primary pull-right ladda-button" data-style=expand-right data-size=s>
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input name=__RequestVerificationToken type=hidden value=CfDJ8GFOPcLCLOxIv5GGCPxE9G3xX6DCUeDOv444EUbr7E7psz2XDkuPLxW8xXIs0prgPB8W6agtJA58DiMwFEVqZDm9EDZee9_mYLiDbTeP_FJ5oKlpcjVq3ibT-Lx1dLyFBnRFZrZhx7vY6lsTBskPz9KRMl9UvmNfrGWRzkxVQF4aAAbc04C5RHSb7hIiIYNSpg>
                </form>
            </div>
            <div class=panel-heading>
                <h6 class=panel-title>View: VAT Types</h6>
            </div>
            <div class=table-responsive id=no-more-tables>
                <table class="col-md-12 table-striped table-condensed table-bordered cf compact" width=100% id=vattypesstable>
                    <thead class=cf>
                        <tr>
                            <th>
                                <strong>VATType ID</strong>
                            <th>
                                <strong>Name</strong>
                            <th>
                                <strong>Per Rate (%)</strong>
                                <tbody>
                </table>
            </div>
        </div>
    </div>
    <div class=col-md-6>
        <div class="panel panel-default">
            <div class=panel-heading>
                <h6 class=panel-title>Other Tax Details</h6>
            </div>
            <div class=panel-body>
                <form method=post id=OtherTaxForm>
                    <input hidden type=number data-val=true data-val-required="The OtherTaxID field is required." id=OtherTax_OtherTaxID name=OtherTax.OtherTaxID>
                    <div class=row>
                        <div class=col-sm-6>
                            <div class=form-group>
                                <label>
                                    <small>Name</small>
                                </label>
                                <input class="form-control input-sm" required data-val=true data-val-required="The Name field is required." id=OtherTax_Name name=OtherTax.Name>
                            </div>
                            <div class=form-group>
                                <label>
                                    <small>VAT Liability Sub-Account</small>
                                </label>
                                <select class="form-control input-sm" required data-val=true data-val-required="The VATLiabSubAccountID field is required." id=OtherTax_VATLiabSubAccountID name=OtherTax.VATLiabSubAccountID></select>
                            </div>
                        </div>
                        <div class=col-sm-6>
                            <div class=form-group>
                                <label>
                                    <small>Per Rate(%)</small>
                                </label>
                                <input type=number step=any class="form-control input-sm" required min=0 max=100 data-val=true data-val-number="The field PerRate must be a number." data-val-required="The PerRate field is required." id=OtherTax_PerRate name=OtherTax.PerRate>
                            </div>
                            <div id=updateothertax hidden>
                                <div class="btn-group pull-right">
                                    <button id=btnupdateothertax class="btn btn-primary btn-sm ladda-button" data-style=expand-right data-size=s>Update</button>
                                    <a id=btnCreateNewOtherTax class="btn btn-primary btn-sm">New</a>
                                </div>
                            </div>
                            <div id=addothertax>
                                <button id=btnaddothertax class="btn btn-primary pull-right ladda-button" data-style=expand-right data-size=s>
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input name=__RequestVerificationToken type=hidden value=CfDJ8GFOPcLCLOxIv5GGCPxE9G3xX6DCUeDOv444EUbr7E7psz2XDkuPLxW8xXIs0prgPB8W6agtJA58DiMwFEVqZDm9EDZee9_mYLiDbTeP_FJ5oKlpcjVq3ibT-Lx1dLyFBnRFZrZhx7vY6lsTBskPz9KRMl9UvmNfrGWRzkxVQF4aAAbc04C5RHSb7hIiIYNSpg>
                </form>
            </div>
            <div class=panel-heading>
                <h6 class=panel-title>View: Other Taxes</h6>
            </div>
            <div class=table-responsive id=no-more-tables>
                <table class="col-md-12 table-striped table-condensed table-bordered cf compact" width=100% id=othertaxesstable>
                    <thead class=cf>
                        <tr>
                            <th>
                                <strong>OtherTax ID</strong>
                            <th>
                                <strong>Name</strong>
                            <th>
                                <strong>Per Rate (%)</strong>
                            <tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Shared/jquery-3.4.1.min.js"></script>
<script src="~/js/Accounts/Taxes.js"></script>