/* Custom Styles */
.row {
 /*   padding-left: 7%;*/
    padding-left: 7vw;
}

    .row .left-section .mb-3 h5 {
        padding-left: 20%;
       /* padding-left: 20vw;*/
    }

.left-section {
  /*  width: 30%;*/
    width: 30vw;
    padding: 32px 45px 60px 15px;
}

.right-section {
   /* width: 60%;*/
    width: 60vw;
    padding: 32px 15px 0px 0px;
}


.card {
    transition: box-shadow 0.3s ease;
    border-radius: 0px;
}
/*.cardborder {
    border-left: solid;
    border-width: 0.1px;
    border-color: grey;
}*/

    .card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

#filterSection {
    display: block;
}

.ascending-label {
    font-size: smaller;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5); /* Faded color */
}


.cs-toggleFilterSection{
    display: none;
}

.cs-paginationInfo {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;
}

/*//loader*/
.cs-loader {
    position: absolute;
    top: 9%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -9999;
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: -4%;
    position: absolute;
    width: calc(100% - 10px);
   /* color: #110d0d;*/
    padding: 0 100px;
    text-align: center;
}

    .cs-loader-inner label {
        font-size: 20px;
        opacity: 0;
        display: inline-block;
    }

  /*color picker*/
.input-group {
    display: flex;
    align-items: stretch;
}

#color {
    flex: 1; /* This will make the input field take up remaining space */
}

#color-picker {
    height: 100%; /* This will make the color picker button match the height of the input field */
}

 .input-group {
        display: flex;
        align-items: stretch;
    }
    #color {
        flex: 1; /* This will make the input field take up remaining space */
        border-right: none; /* Remove the right border */
        border-radius: 4px 0 0 4px; /* Adjust border radius */
    }
    .form-control {
        border-radius: 0; /* Remove default border radius */
    }
    #color-picker {
        height: 100%; /* This will make the color picker button match the height of the input field */
        border-radius: 0 4px 4px 0; /* Adjust border radius */
    }




@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        transform: translateX(0px);
    }

    66% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}
/*.left-section {
    position: fixed;*/
/*    top: 0;*/
/*left: -300px;*/ /* Initially hidden */
/*width: 300px;*/ /* Width of the sidebar */
/*height: 100vh;*/ /* Full height of the viewport */
/*background-color: #f8f9fa;*/ /* Sidebar background color */
/*padding: 20px;
    transition: left 0.3s ease;*/ /* Smooth transition */
/*z-index: 1000;*/ /* Ensure the sidebar appears above other content */
/*}

    .left-section.show {
        left: 0;*/ /* Display the sidebar */
/*}*/
@media (max-width: 991px) {
    .left-section {
        position: fixed;
        /* top: 0;*/
        left: -250px; /* Initially hidden */
        width: 250px; /* Width of the sidebar */
        height: 100vh; /* Full height of the viewport */
        background-color: #f8f9fa; /* Sidebar background color */
        padding: 20px;
        transition: left 0.3s ease; /* Smooth transition */
        z-index: 1000; /* Ensure the sidebar appears above other content */
        overflow-y: auto; /* Enable vertical scrollbar when content exceeds height */
    }

        .left-section.show {
            left: 0; /* Display the sidebar */
        }

    .right-section .justify-content-end {
        justify-content: flex-end !important;
    }


    .right-section {
        width: 80vw;
    }

    .cs-toggleFilterSection {
        display: block;
        margin-bottom: 10px;
        padding: 6px 30px;
    }



}

