@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/poppins/poppins-v5-latin-regular.eot');
    src: local('Poppins Regular'),local('Poppins-Regular'),url('/fonts/poppins/poppins-v5-latin-regular.eot?#iefix') format('embedded-opentype'),url('/fonts/poppins/poppins-v5-latin-regular.woff2') format('woff2'),url('/fonts/poppins/poppins-v5-latin-regular.woff') format('woff'),url('/fonts/poppins/poppins-v5-latin-regular.ttf') format('truetype'),url('/fonts/poppins/poppins-v5-latin-regular.#Poppins') format('svg')
}

.cs-loader {
    position: absolute;
    top: 12px;
    left: 0;
    height: 20%;
    width: 100%
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 10px);
    color: #FFF;
    padding: 0 100px;
    text-align: center
}

    .cs-loader-inner label {
        font-size: 20px;
        opacity: 0;
        display: inline-block
    }

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px)
    }

    33% {
        opacity: 1;
        transform: translateX(0px)
    }

    66% {
        opacity: 1;
        transform: translateX(0px)
    }

    100% {
        opacity: 0;
        transform: translateX(300px)
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px)
    }

    33% {
        opacity: 1;
        -webkit-transform: translateX(0px)
    }

    66% {
        opacity: 1;
        -webkit-transform: translateX(0px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(300px)
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#divBody {
    display: none
}

#report {
    width: 31vw !important
}

@media only screen and (max-width: 768px) {
    #report {
        width: 100% !important
    }
}