<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <title>Cards System | @ViewBag.Title</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel=stylesheet href="~/css/Shared/site.min.css">
        <link rel=stylesheet href="~/css/Shared/assets.min.css">
        <link rel=stylesheet href="~/css/Shared/loader.css">
        <script>
            Date.prototype.toLocalISOString = function () {
                return new Date(this.getTime() - (this.getTimezoneOffset() * 60000)).toISOString();
            }

            document.documentElement.style.setProperty('--font-size', '13px');

            window.onload = function () {
                document.getElementById("loader").style.display = "none";
                document.getElementById("divBody").style.display = "block";
            };
        </script>
    </head>
    <body id=body>
        <div id=wrapper>
            <header>
                <nav class="navbar navbar-inverse navbar-fixed-top" role=navigation>
                    <div class=navbar-header>
                        <button type=button class=navbar-toggle data-toggle=collapse data-target=.navbar-ex1-collapse>
                            <span class=sr-only>Toggle navigation</span>
                            <span class=icon-bar></span>
                            <span class=icon-bar></span>
                            <span class=icon-bar></span>
                        </button>
                        <a class=navbar-brand href="/">
                            <div class=navbar-text>POS System</div>
                        </a>
                    </div>
                    <div id=loader class=cs-loader>
                        <div class=cs-loader-inner>
                            <label>●</label>
                            <label>●</label>
                            <label>●</label>
                            <label>●</label>
                            <label>●</label>
                            <label>●</label>
                        </div>
                    </div>
                    <ul class="nav navbar-right top-nav">
                        <li class=dropdown>
                            <a href=# class=dropdown-toggle data-toggle=dropdown title="User:">
                                <span class="fas fa-user"></span>
                                <span class="fa fa-angle-down"></span>
                            </a>
                        <ul class="dropdown-menu dropdown-menu-nav">
                            <li class=dropdown-header>
                                @if (User?.Identity?.Name != null)
                                {
                                    <span style="font-size:medium">
                                        <i class="far fa-user-circle"></i>
                                        @User.Identity.Name
                                    </span>
                                }
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/Security/Logout">Logout</a>
                            </li>
                        </ul>
                        <li>
                    </ul>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav menus">
                        <li>
                            <a href="/">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                        </li>
                            @* Sales*@
                        <li>
                            <a href=/Sales/PointOfSale>
                                <i class="fas fa-hand-point-right"></i> 
                                Point Of Sale
                            </a>
                        </li>
                        @*  Accounts*@
                        <li>
                            <a href="#" data-toggle="collapse" data-target="#submenu-1">
                                <i class="fas fa-book"></i>
                                Accounts <i class="fa fa-fw fa-angle-down pull-right"></i>
                            </a>
                            <ul id="submenu-1" class="collapse sidebarcollapse">
                                <li>
                                    <a href="/Accounts/FiscalPeriods">
                                        <i class="fas fa-hand-point-right"></i>
                                        Fiscal Periods
                                    </a>
                                </li>
                                <li>
                                    <a href="/Accounts/GeneralLedgerAccounts">
                                        <i class="fas fa-hand-point-right"></i>
                                        Ledger Accounts
                                    </a>
                                </li>
                                <li>
                                    <a href="/Accounts/JournalVouchers">
                                        <i class="fas fa-hand-point-right"></i>
                                        Journal Vouchers
                                    </a>
                                </li> 
                                <li>
                                    <a href="/Accounts/Taxes">
                                        <i class="fas fa-hand-point-right"></i>
                                        Taxes
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @* Inventory*@ 
                                <li>
                                <a href="#" data-toggle="collapse" data-target="#submenu-2">
                                <i class="fas fa-clipboard-list"></i>
                                Inventory <i class="fa fa-fw fa-angle-down pull-right"></i>
                            </a>
                            <ul id="submenu-2" class="collapse sidebarcollapse">
                                <li>
                                                    <a href="/Inventory/Inventory">
                                        <i class="fas fa-hand-point-right"></i>
                                        Inventory
                                    </a>
                                </li>
                                <li>
                                    <a href="/Inventory/UnitOfMeasure">
                                        <i class="fas fa-hand-point-right"></i>
                                        Unit Of Measure
                                    </a>
                                </li>
                            </ul>
                        </li>
   
                        @* Security*@
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#submenu-3">
                                                <i class="fas fa-lock"></i>
                                Security <i class="fa fa-fw fa-angle-down pull-right"></i>
                            </a>
                                        <ul id="submenu-3" class="collapse sidebarcollapse">
                                    <li>
                                        <a href="/Security/Roles">
                                        <i class="fas fa-hand-point-right"></i>
                                        Roles
                                    </a>
                                </li>
                                    <li>
                                    <a href="/Security/Privileges">
                                        <i class="fas fa-hand-point-right"></i>
                                        Privileges
                                    </a>
                                </li>
                                <li>
                                    <a href="/Security/SystemUsers">
                                        <i class="fas fa-hand-point-right"></i>
                                        System Users
                                    </a>
                                </li>
                 
                            </ul>
                        </li>
                        <li>
                            <a href=# data-toggle=modal data-target=.enter-access-code-modal class="reporting-dashboard">
                                <i class="fas fa-file-alt"></i>
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

    <div class=sidebar-control>
        <button class=sidebar-control-btn title="Toggle side menu">
            <i class=fas id=side-bar-icon></i>
        </button>
    </div>
    <div id="page-wrapper">
        <div class=container-fluid>
            <ol style="font-size: 14px; font-weight: bold;" class="breadcrumb" id="appBreadcrumb">
                POS System
            </ol>
            <div id=divBody class=animate-bottom>
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div> 
                
            </div>
        </div>
    </div>

 
   
    <script src="~/js/Shared/main.min.js" defer></script>
    <script src="~/js/Shared/reportsAccess.js" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>