<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel=stylesheet href="~/css/style.css">
</head>

<body id="body">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Cards</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid mt-5">
        <div class="row">
            <!-- Left Section -->
            <div class="col-md-4 left-section" id="left-section">
                <!-- Filters Section -->
                <div class="mb-3">
                    <h5>Filters</h5>

                    <div class="row g-3">

                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Color">
                        </div>
                        <div class="col-md-12">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option value="1">Todo</option>
                                <option value="2">In Progress</option>
                                <option value="3">Done</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <input type="date" class="form-control">
                        </div>
                    </div>
                </div>

                <!-- Sort Section -->
                <div class="mb-3">
                    <h5>Sort By</h5>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="sortOption" value="name" id="sortByName">
                                <label class="form-check-label" for="sortByName">
                                    Name
                                </label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="desc" id="sortByNameDesc">
                                    <label class="form-check-label" for="sortByNameDesc">
                                        Desc
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="sortOption" value="color" id="sortByColor">
                                <label class="form-check-label" for="sortByColor">
                                    Color
                                </label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="desc" id="sortByColorDesc">
                                    <label class="form-check-label" for="sortByColorDesc">
                                        Desc
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="sortOption" value="date" id="sortByDate">
                                <label class="form-check-label" for="sortByStatus">
                                    Status
                                </label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="desc" id="sortByDateDesc">
                                    <label class="form-check-label" for="sortByStatusDesc">
                                        Desc
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="sortOption" value="date" id="sortByDate">
                                <label class="form-check-label" for="sortByDate">
                                    Date of Creation
                                </label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="desc" id="sortByDateDesc">
                                    <label class="form-check-label" for="sortByDateDesc">
                                        Desc
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
           

            <!-- Right Section -->
            <div class="col-md-8 right-section">
                
                <div class="mb-3">
                    <div class="row justify-content-end">
                        <div class="col-md-4">
                            <button class="btn btn-primary bi bi-sliders" id="toggleFilterSection"> Filters</button>
                        </div>
                        <div class="col-md-6 text-start">
                            <!-- Adjust column width as needed -->
                            <!-- Top Section with Dropdown and Sort Options -->
                          @*   <label for="perPageSelect" class="form-label">Cards Per Page:</label> *@
                            <select class="form-select" id="perPageSelect">
                                <option selected>Cards Per Page</option>
                                <option value="20">Show 10</option>
                                <option value="20">Show 20</option>
                                <option value="30">Show 30</option>
                            </select>
                        </div>
                        
                       
                    </div>
                </div>
                <div class="cardborder">
                <!-- Cards Section -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    @RenderBody()
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    @RenderBody()
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    @RenderBody()
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    @RenderBody()
                </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

   @*  <script src="https: //cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

<script>

   
        const toggleButton = document.getElementById('toggleFilterSection');
        const body = document.body;
        const filterSection = document.getElementById('left-section');

        toggleButton.addEventListener('click', function (event) {
            filterSection.classList.toggle('show');
        });

        document.addEventListener('click', function (event) {
            const isClickInsideFilterSection = filterSection.contains(event.target) || event.target === toggleButton;

            if (!isClickInsideFilterSection) {
                filterSection.classList.remove('show');
            }
        });



      




</script>
</body>

</html>
